<%= @fusee.name %>
<%= @fusee.price %>
<%= @fusee.description %>
<li><%= link_to "Edit cette fusee", edit_fusee_path(@fusee) %></li>
<li><%= link_to "Retourner à la page d'acceil", fusees_path %></li>